table{
    margin: auto;
}

main{
    flex-direction: column;
}

td{
    text-align: center;
    border: 2px solid black;
}

.content-wrapper{
    width: 98vw;
    margin: auto;
}

.update-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    align-items: end;
    justify-content: center;
}

input{
    height: 100%
}