<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "/css/main.css" %}"/>
    <link rel="stylesheet" href="{% static "/css/header.css" %}">
    <link rel="stylesheet" href="{% static "/css/about.css" %}">
    <link rel="stylesheet" href="{% static "/css/footer.css" %}">
    <link rel="icon" href="{% static "/image/logo.svg" %}">
    <title>Title</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <img class="logo" src="{% static "image/logo.svg" %}">
            <div class="project_name">
                проект 007
            </div>
        </header>

        <main>
            <aside>
                <nav>
                    <a href="about">О профессии</a>
                    <a href="demand">Востребованность</a>
                    <a href="geography">География</a>
                    <a href="skills">Навыки</a>
                    <a href="vacancies">Последние вакансии</a>
                </nav>
            </aside>
            <div class="content-wrapper">
                <article>
                    <h1>Профессия инженер-программист</h1>
                    <div class="programmers">
                        <img class="programmer" src="{% static "image/programmer1.jpg" %}">
                        <img class="programmer" src="{% static "image/programmer2.jpg" %}">
                    </div>
                        <p>
                            Под этой профессией, судя по вакансиям, может скрываться что угодно от разработчика на
                            заводе, который что-то там делает, до архитекторов программного обеспечения в it-компаниях.
                            Однако технологические компании в основном понимают, какого программиста они хотят и при
                            описании вакансии формулировками по типу «Инженер-программист» не пользуются.
                            В основном, программисты на заводы требуются для автоматизации и разработки микроконтроллеров.
                            <br><br>

                            Инженер по автоматизации занимается планированием, монтажом и контролем за эксплуатацией
                            оборудования, используемого на промышленных предприятиях. Его обязанности зависят от
                            профиля компании технологий которые она применяет,
                            но в основном: контроль за работой оборудования,
                            тестирование и внедрение более эффективных систем автоматизации,
                            участие в разработке планов по модернизации производства,
                            анализ текущего уровня состояния производственных на предприятии и работа по увеличению их эффективности,
                            ведение технической документации и отчетности.<br><br>

                            Разработчик микроконтроллеров занимается разработкой программного для автоматизированной
                            системы управления множественных электронных техник, оснащенных микроконтроллерами.
                            Для программирования микроконтроллеров разработчику может потребоваться знание языков C/C++,
                            Assembler, Rust, Python(MicroPython).
                            Занимается разработкой расширением и тестированием ПО для микроконтроллеров,
                            сопровождение опытного и серийного производства, участие в испытаниях,
                            участие в работах по сертификации программного обеспечения и разработке документации<br><br>

                            Такие разработчики зарабатывают среднем около 90 000 рублей, спрос на таких разработчиков
                            гораздо выше в самых крупных городах нашей страны - на Москву и Санкт-Петербург приходится
                            почти сорок процентов всех вакансий, остальная часть разбросана по остальным
                            городам-миллионникам. <br><br>

                            Чаще всего от таких разработчиков за 2021 требовались навыки грамотной речи, работы в команде,
                            git, js, английского язык, делового общение, sql и ведения переговоров.
                            В 2022 работы в команде, git, грамотной речи, js, sql, английского язык, делового общения и знания linux.
                        </p>
                </article>
            </div>
        </main>

        <footer>
            <div class="fio">
                Грухин Константин Артемович
            </div>
            <div class="group">
                 РИ-210942
            </div>
        </footer>
    </div>
</body>
</html>