<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "/css/main.css" %}"/>
    <link rel="stylesheet" href="{% static "/css/header.css" %}">
    <link rel="stylesheet" href="{% static "/css/about.css" %}">
    <link rel="stylesheet" href="{% static "/css/footer.css" %}">
    <link rel="icon" href="{% static "/image/logo.svg" %}">
    <title>Title</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <img class="logo" src="{% static "image/logo.svg" %}">
            <div class="project_name">
                проект 007
            </div>
        </header>

        <main>
            <aside>
                <nav>
                    <a href="about">О профессии</a>
                    <a href="demand">Востребованность</a>
                    <a href="geography">География</a>
                    <a href="skills">Навыки</a>
                    <a href="vacancies">Последние вакансии</a>
                </nav>
            </aside>
            <div class="content-wrapper">
                <article>
                    <h1>Профессия инженер-программист</h1>
                    <div class="programmers">
                        <img class="programmer" src="{% static "image/programmer1.jpg" %}">
                        <img class="programmer" src="{% static "image/programmer2.jpg" %}">
                    </div>
                        <p>
                            Под этой профессией, судя по вакансиям, может скрываться что угодно от разработчика на
                            заводе, который что-то там делает, до архитекторов программного обеспечения в it-компаниях.
                            Однако технологические компании в основном понимают, какого программиста они хотят и при
                            описании вакансии формулировками по типу «Инженер-программист» не пользуются.
                            В основном, программисты на заводы требуются для автоматизации и разработки микроконтроллеров.
                            <br><br>

                            Инженер по автоматизации занимается планированием, монтажом и контролем за эксплуатацией
                            оборудования, используемого на промышленных предприятиях. Его обязанности зависят от
                            профиля компании и технологий которые она применяет,
                            но в основном: контроль за работой оборудования,
                            тестирование и внедрение более эффективных систем автоматизации,
                            участие в разработке планов по модернизации производства,
                            анализ текущего уровня состояния производственных на предприятии и
                            работа по увеличению их эффективности, ведение технической документации и отчетности.<br><br>

                            Разработчик микроконтроллеров занимается разработкой программного обеспечения для автоматизированной
                            системы управления, множественных электронных техник, оснащенных микроконтроллерами,
                            разработкой, расширением и тестированием ПО для микроконтроллеров,
                            сопровождением опытного и серийного производства, участием в испытаниях и
                            в работах по сертификации программного обеспечения, а также разработке документации
                            Для микроконтроллеров разработчику может потребоваться знание языков C/C++,
                            Assembler, Rust, Python(MicroPython).<br><br>

                            Такие разработчики зарабатывают в среднем около 90 000 рублей. Наибольший спрос,
                            почти сорок процентов вакансий, на таких разработчиков
                            приходится на самые крупные города нашей страны: Москву и Санкт-Петербург,
                            остальная часть разбросана по городам-миллионникам. <br><br>

                            2021 год показал, что чаще всего от таких разработчиков требовались такие навыки, как:
                            грамотная речь, работа в команде, git, js, английский язык, деловое общение, sql
                            и умение вести переговоры. В 2022 году , это были навыки работы в команде, грамотной речи,
                            git, js, английского языка, делового общения, sql, linux.
                        </p>
                </article>
            </div>
        </main>

        <footer>
            <div class="fio">
                Грухин Константин Артемович
            </div>
            <div class="group">
                 РИ-210942
            </div>
        </footer>
    </div>
</body>
</html>