<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "/css/main.css" %}"/>
    <link rel="stylesheet" href="{% static "/css/header.css" %}">
    <link rel="stylesheet" href="{% static "/css/vacancies.css" %}">
    <link rel="stylesheet" href="{% static "/css/footer.css" %}">
    <link rel="icon" href="{% static "/image/logo.svg" %}">
    <title>Title</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <img class="logo" src="{% static "image/logo.svg" %}">
            <div class="project_name">
                проект 007
            </div>
        </header>

        <main>
            <aside>
                <nav>
                    <a href="about">О профессии</a>
                    <a href="demand">Востребованность</a>
                    <a href="geography">География</a>
                    <a href="skills">Навыки</a>
                    <a href="vacancies">Последние вакансии</a>
                </nav>
            </aside>
            <div class="content-wrapper">
                <div class="update-wrapper">
                    <label>
                        <input type="date" name="date">
                    </label>
                    <button id="button">Обновить</button>
                </div>
                <table id="vacancyTable">
                    <thead>
                        <tr>
                            <th>Название</th>
                            <th>Описание</th>
                            <th>Навыки</th>
                            <th>Компания</th>
                            <th>Оклад</th>
                            <th>Регион</th>
                            <th>Дату публикации вакансии</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </main>

        <footer>
            <div class="fio">
                Грухин Константин Артемович
            </div>
            <div class="group">
                 РИ-210942
            </div>
        </footer>
    </div>
    <script src="{% static "/js/last-vacancies.js" %}"></script>
    <script>

        button.onclick = onclick
        function onclick() {
            let date = document.getElementsByTagName("input").namedItem("date").valueAsDate
            updateVacancies(date)
        }
    </script>
</body>
</html>